.page-container {
    &__body {
        width: 1380px;
        padding: 2rem 1rem 1rem 2.5rem;
        height: auto;
        overflow-x: hidden;
    }

    &__header {
        justify-content: space-between;
    }

    &__instructions {
        flex-grow: 1;
    }
}